@*@model string[]*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Zacharys page</h1>
    <p> Hi I am Zach Look at Hacker News for a FUN read </p>

    @{ foreach( var catName in Model.IdToName)
    {


        <p>@(string.Join("", Enumerable.Range(0, catName.key + 1).Select(n => '!').ToArray())) @catName.Value</p>
    }
        <input type = "text"id="catField"/>
    }
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
