<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
  <add key="city1" value="Lewiston" />
  <add key="street1" value="First" />
  <add key="address1 #" value="14" />

  <add key="city2" value="Portland" />
  <add key="street2" value="Falmouth" />
  <add key="address2 #" value="96" />
  
  
  </appSettings>
  
</configuration>